* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.gallery {
    background-color: rgb(237, 237, 237);
    height: 100vh;
    padding: 50px 0;
    text-align: center;
}

.gallery__title {
    margin-bottom: 20px;
}
.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery__image {
    width: 30%;
    overflow: hidden;
}
.image {
    cursor: pointer;
    transition: all 0.3s linear;
}

.image:hover {
    transform: scale(1.1);
}